// 共通
* {
  box-sizing: border-box;
  outline: 0;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

html {
  color: $mainFontColor;
  font-size: Rem(16);
}

body {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  color: #08111f;
  font-family: $barlow;
  line-height: 1.4;
  scrollbar-color: $mainColor rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  background: #fff;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: $mainColor;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
  }
}

a {
  color: $mainFontColor;

  &:hover {
    color: $mainColor;
    @include transition(all, 0.3);
  }
}

img {
  max-width: 100%;
  margin: 0px;
  line-height: 1;
}

figure {
  margin: 0px;
}

.picAnimated {
  opacity: 1;
}

.wrapper {
  position: relative;
}

.container {
  position: relative;
  width: calc(100% - $contentPadding * 2);
  max-width: $domWidth;
  padding-right: $contentPadding;
  padding-left: $contentPadding;
  margin: 0 auto;
  box-sizing: content-box;

  @include screenWidth('1440') {
    width: calc(100% - 60px * 2);
    padding-right: 60px;
    padding-left: 60px;
  }

  @include screen('tablet') {
    width: calc(100% - 40px * 2);
    padding-right: 40px;
    padding-left: 40px;
  }

  @include screen('mobile') {
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }
}

section {
  position: relative;
}

//-----------------input-----------------//
[type='text'],
[type='password'],
[type='email'] {
  border: none;
  width: 100%;
  border: 1px solid #000;
  @include transition(all, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none !important;
}

textarea {
  padding: 5px 10px;
  line-height: 1.4;
  font-weight: normal;
  color: #666666;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  @include transition(all, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select {
  position: relative;
  padding: 0 5px;
  font-size: Rem(20);
  ;
  color: #000;
  font-weight: 600;

  &::before {
    content: '';
    display: block;
    position: absolute;
    text-indent: 0px;
    width: 8px;
    aspect-ratio: 1;
    right: 10px;
    top: 15px;
    z-index: 5;
    border: 2px solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  select {
    line-height: 1.4;
    font-weight: normal;
    color: #666666;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding: 5px 30px 10px 10px;
    border-radius: 5px;
  }
}

select::-ms-expand {
  display: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  @include transition(all, 0.3);

  &:focus {
    outline: none !important;
  }
}

//-----------------input-----------------//

.privacyBox {
  position: fixed;
  background: #000;
  z-index: 9999;
  bottom: 0px;
  width: 100%;
  color: #e7e7e7;
  padding: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;

  a {
    color: $lightColor;
  }

  .closePrivacy {
    right: 12px;
    top: 15px;
    max-width: 100px;
    line-height: 30px;
    font-size: Rem(16);
    border-radius: 5px;
    padding: 3px 5px;
    color: #e7e7e7;
    // border: #e7e7e7 1px solid;
    display: block;
    background: $mainColor;
    font-weight: 500;
    cursor: pointer;
    margin: 10px auto 0 auto;
  }
}

.editor {
  line-height: 1.6;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tableBox {
  overflow-x: auto;
  scrollbar-color: $mainColor rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: $mainColor;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
  }
}